<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 9]>
    <script type="text/javascript">
      document.createElement("nav" ); 
      document.createElement("header" );
      document.createElement("footer" ); 
      document.createElement("section" );
      document.createElement("aside" ); 
      document.createElement("article" );
    </script>
    <![endif]-->
    <title>{% block title %}base-page{% end %}</title>
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/bootstrap-responsive.min.css') }}">
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            {% for i in xrange(3) %}
              <span class="icon-bar"></span>
            {% end %}
          </a>
          <a class="brand" href="/">Home Page</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="/">about</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      {% block body %}{% end %}
    </div>

    <footer id="page_footer">
    <p>&copy; 2012 Zhongwei</p>
    </footer>
    <!-- javascript ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ static_url('js/jquery.js') }}"></script>
    <script src="{{ static_url('js/bootstrap.min.js') }}"></script>
  </body>
</html>
