body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

footer#page_footer {
    clear: both;
    width: 100%;
    display: block;
    text-align: center;
    padding-top: 30px;
}
